.Rproj.user
.Rhistory
.RData
.Ruserdata
fit_multinomial_con_covariable.rds
index.Rmd
01-Estimacion_HT.rmd
02-Seleccion_comunas.rmd
03-EstimacionSAE_multinomial.Rmd
04-Validacion_modelo.rmd
05-Benchmarking.Rmd
06-Grafico_BENCH.Rmd
07-Mapas.rmd
_bookdown.yml
_output.yml
book.bib
packages.bib
render176039f1292.rds
preamble.tex
style.css
_bookdown_files
_book
